# API URL
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1
NEXT_PUBLIC_ADMIN_URL=http://localhost:3002

# App Settings
NEXT_PUBLIC_APP_NAME=Balloo Admin Portal
NEXT_PUBLIC_COMPANY_NAME=NBS w-t

# Support Settings
NEXT_PUBLIC_SUPPORT_ENABLED=true
NEXT_PUBLIC_INTERNAL_CHAT_ENABLED=true
